.notFound {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 38px 0;

  .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    font-weight: 400;
    font-size: 24px;

    h2 {
      font-weight: 600;
      font-size: 48px;
      line-height: 110%;
    }
  }
  a {
    padding: 17px 68px;
  }
}
