.recipeList {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  margin-bottom: 15px;

  .recipeCard {
    background: var(--light-beige);
    width: calc((100% - 24px * 3) / 4);
    border-radius: 16px;
    padding: 12px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    overflow: hidden;

    > img {
      border-radius: 16px;
      height: 178px;
      object-fit: cover;
    }
    .cardContent {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cardTitle {
        display: flex;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        overflow: hidden;

        h3 {
          max-width: 195px;
          max-height: 100%;
          font-weight: 700;
          font-size: 24px;
        }

        .time {
          display: flex;
          gap: 4px;

          height: 28px;
          border-radius: 8px;
          padding: 2px 8px 2px 4px;
          background: var(--white);

          span {
            font-weight: 600;
            font-size: 12px;
          }
        }
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;

        margin-bottom: 15px;
      }

      .buttons {
        display: flex;
        gap: 8px;

        a {
          border: 1px solid var(--black);
          border-radius: 8px;
          padding: 10px;
          flex-grow: 1;
          text-align: center;
        }
        button {
          border: 1px solid var(--black);
          border-radius: 8px;
          padding: 8px;
          background-color: transparent;
          stroke: var(--black);
        }
        button.checked {
          background: var(--light-brown);
          stroke: var(--white);
          border-color: transparent;
        }
        button.delete {
          background: var(--red);
          border-color: transparent;
        }
      }
    }
  }
}
.loadMore {
  display: block;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 48px;
  background: var(--light-brown);
  border-radius: 8px;
  padding: 16px 95px;

  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}
