.footer {
  background: var(--darck-brown);
  padding: 24px;
  color: var(--white);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: 400;
      font-size: 12px;
    }

    nav {
      display: flex;
      gap: 32px;

      font-weight: 600;
      font-size: 16px;
    }
  }
}
