.userMenu {
  display: flex;
  gap: 28px;

  .account {
    display: flex;
    gap: 8px;
    position: relative;
    align-items: center;

    span {
      border-radius: 32px;
      background: var(--light-brown);
      width: 32px;
      height: 32px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .account::after {
    content: "";
    position: absolute;
    right: -17px;
    top: -3.5px;
    width: 1px;
    height: 39px;
    background: var(--white);
  }

  button {
    background: transparent;
  }
}
