.generalInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .info {
    background: var(--light-beige);
    padding: 24px;
    width: 373px;
    border-radius: 16px;
    display: flex;
    gap: 15px;
    flex-direction: column;

    font-weight: 400;
    font-size: 16px;

    h3 {
      font-size: 24px;
      font-weight: 600;
    }

    span {
      font-weight: 600;
    }
  }

  button {
    width: 373px;

    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 18px;

    svg {
      stroke: var(--white);
    }
  }

  button.checked svg {
    fill: var(--white);
  }
}
