#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex-grow: 1;
  }
}

.buttonGeneric {
  background: var(--light-brown);
  padding: 17px;
  border-radius: 8px;

  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (width>768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 704px;
  }
}

@media screen and (width>1440px) {
  .container {
    padding-left: 107px;
    padding-right: 107px;
    max-width: 1440px;
  }
}
